<form class="add-form container" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      id="email"
      placeholder="john@email.com"
      required
      data-error-invalid="Invalid email address"
      #prmEmail="ngModel"
      email
    />
    <br />
    <p
      class="error"
      *ngIf="prmEmail.invalid && (prmEmail.dirty || prmEmail.touched)"
    >
      <span *ngIf="prmEmail.errors?.['required']"> Email is required.</span>
      <span *ngIf="prmEmail.errors?.['email']"> Invalid email address.</span>
    </p>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      id="password"
      required
      data-error-invalid="Invalid password"
      #prmPassword="ngModel"
      password
    />
    <p
      class="error"
      *ngIf="prmPassword.invalid && (prmPassword.dirty || prmPassword.touched)"
    >
      <span *ngIf="prmPassword.errors?.['required']">
        Password is required.</span
      >
      <span *ngIf="prmPassword.errors?.['password']"> Invalid password.</span>
    </p>
  </div>
  <div class="flex-row">
    <input type="submit" value="Login" class="btn" />
    <a class="btn button-login" routerLink="/register">Register</a>
  </div>
</form>
