ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(131, 187, 251);
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.float-end {
  float: right;
}
