<form class="add-form container" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      id="email"
      placeholder="john@email.com"
      required
      data-error-invalid="Invalid email address"
      #prmEmail="ngModel"
      email
    />
    <br />
    <p
      class="error"
      *ngIf="prmEmail.invalid && (prmEmail.dirty || prmEmail.touched)"
    >
      <span *ngIf="prmEmail.errors?.['required']"> Email is required.</span>
      <span *ngIf="prmEmail.errors?.['email']"> Invalid email address.</span>
    </p>
  </div>
  <div class="form-control">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      id="username"
      placeholder="JohnDoe"
      username
      required
      data-error-invalid="Invalid username"
      #prmUsername="ngModel"
    />
    <p
      class="error"
      *ngIf="prmUsername.invalid && (prmUsername.dirty || prmUsername.touched)"
    >
      <span *ngIf="prmUsername.errors?.['required']">
        Username is required.</span
      >
      <span *ngIf="prmUsername.errors?.['username']"> Invalid username.</span>
    </p>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      id="password"
      required
      data-error-invalid="Invalid password"
      #prmPassword="ngModel"
      password
    />
    <p
      class="error"
      *ngIf="prmPassword.invalid && (prmPassword.dirty || prmPassword.touched)"
    >
      <span *ngIf="prmPassword.errors?.['required']">
        Password is required.</span
      >
      <span *ngIf="prmPassword.errors?.['password']"> Invalid password.</span>
    </p>
  </div>
  <div class="form-control">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      id="confirmPassword"
      required
      data-error-invalid="Invalid password"
      #prmConfirmPassword="ngModel"
      password
    />
    <p
      class="error"
      *ngIf="
        prmConfirmPassword.invalid &&
        (prmConfirmPassword.dirty || prmConfirmPassword.touched)
      "
    >
      <span *ngIf="prmConfirmPassword.errors?.['required']">
        Confirm password is required.</span
      >
      <span *ngIf="prmConfirmPassword.errors?.['password']">
        Invalid password.</span
      >
    </p>
  </div>
  <input type="submit" value="Log me in" class="btn btn-block" />
</form>
