* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 2;
}

.container {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  overflow: auto;
  padding: 30px;
}
.btn {
  display: inline-block;
  background: #1064b0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  background: #0d4d8a;
  color: #fff;
}

.btn:focus {
  background: #0d4d8a;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 300px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 300px;
  height: 40px;
  /* margin: 5px; */
  padding: 3px 7px;
  font-size: 17px;
}

.add-form {
  margin-bottom: 40px;
}

a {
  color: #fff;
  text-decoration: none;
}
